.debug {
  border: 1px solid red;
}

html {
  font-family: "Lato", sans-serif;
  font-size: 16px;
}

body {
  background: #1a1a1a;
  color: #cccccc;
  margin: 0;
  display: grid;
  grid-gap: 0;
  grid-template-areas: "header" "content" "sidebar" "ad" "footer";
}

a {
  color: #e6e6e6;
}

.no_mobile {
  margin-top: 40px;
  display: none;
}
.no_mobile img {
  object-fit: scale-down;
  max-width: 150px;
}

/* Grid Areas */
.content_wrapper {
  background: #333333;
  color: #e6e6e6;
  min-height: 50vh;
  grid-area: content;
  padding: 20px;
  display: grid;
  grid-gap: 10px;
  grid-template-areas: "side" "main";
}
.content_wrapper .side {
  grid-area: side;
}
.content_wrapper .main {
  grid-area: main;
}
.content_wrapper .search {
  grid-area: side/side/main/main;
}

header {
  grid-area: header;
  position: sticky;
  top: 0;
}

.sidebar {
  overflow: hidden;
  grid-area: sidebar;
  background: #404040;
  color: #fdff99;
  padding: 20px;
  z-index: 1;
}

.ad {
  overflow: hidden;
  grid-area: ad;
  background: #404040;
  color: #fdff99;
  padding: 20px;
  z-index: 1;
}

.footer_wrapper {
  text-align: center;
  background: #1a1a1a;
  grid-area: footer;
  padding: 20px;
}

/* Pagination */
.pagination {
  display: flex;
  justify-content: space-around;
}

.pagination_runs {
  display: flex;
  justify-content: space-between;
}

.pages {
  display: inline-block;
}
.pages button {
  border-color: #fdff99;
  outline: none;
  width: 100px;
  border-radius: 8px;
  padding: 10px;
  background-color: #1a1a1a;
  color: #fdff99;
}
.pages:active {
  position: relative;
  top: 2px;
  left: 2px;
}

/* Home */
.search .no_results .title {
  width: 100%;
  display: flex;
  justify-content: center;
}
.search .no_results .img {
  height: 76px;
}
.search .no_results img {
  height: 64px;
}
.search .no_results h1 {
  font-family: "Laila", serif;
  font-size: 2.5em;
  background: linear-gradient(to right, #f8da6d 0%, #b7c1cd 35%, #b7c1cd 55%, #ebb170 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.search form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.search form input {
  margin-bottom: 5px;
  font-size: 1.1em;
  border-radius: 8px;
  padding: 3px 8px;
  background: #404040;
  color: #fdff99;
  border: #fdff99 2px outset;
  outline: none;
}
.search form input:focus {
  border: #e6e6e6 2px inset;
}
.search form button {
  font-size: 1.1em;
  margin-left: 5px;
  margin-bottom: 5px;
  border-color: #fdff99;
  outline: none;
  width: 150px;
  border-radius: 8px;
  background-color: #1a1a1a;
  color: #fdff99;
}
.search form button:active {
  position: relative;
  top: 2px;
  left: 2px;
}
.search .container h2 {
  font-size: 1.8em;
  display: flex;
  justify-content: center;
}
.search .container .runners {
  font-size: 1.1em;
  display: flex;
  justify-content: center;
}
.search .container .runners a {
  text-decoration: none;
  padding: 2px;
  margin-bottom: 3px;
}

.sonic {
  height: 76px !important;
  animation: run-sonic 6s linear infinite;
}

.pikachu {
  animation: run-mirrored 8s linear infinite;
}

.mario {
  animation: run-mirrored 12s linear infinite;
}

@keyframes run-sonic {
  0% {
    transform: translateX(-60vw) translateY(10px) scaleX(-1);
  }
  100% {
    transform: translateX(110vw) translateY(10px) scaleX(-1);
  }
}
@keyframes run-mirrored {
  0% {
    transform: translateX(-60vw);
  }
  100% {
    transform: translateX(110vw);
  }
}
/* Header */
header {
  z-index: 2;
}
header a {
  text-decoration: none;
}
header a:hover {
  text-decoration: underline;
}
header .headerwrapper h1 {
  font-family: "Laila", serif;
  font-size: 2.5em;
  background: #1a1a1a;
  margin: 0;
  padding: 10px;
  text-decoration: none;
  color: #fdff99;
}

@media (min-width: 520px) {
  body {
    grid-template-columns: 1fr 3fr;
    grid-template-areas: "header 	header" "sidebar 	content" "ad 	content	" "footer 	footer";
  }

  .content_wrapper {
    min-height: 80vh;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "side		main";
  }

  .no_mobile {
    display: block;
  }
}
@media (min-width: 768px) {
  body {
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas: "header 	header		header" "sidebar 	content		ad" "sidebar 	content		ad" "footer 	footer		footer";
  }

  .content_wrapper {
    min-height: 80vh;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "side		main";
  }

  .search .no_results h1 {
    font-size: 3em;
  }
  .search form input {
    font-size: 1.3em;
  }
  .search form button {
    font-size: 1.3em;
  }

  .sonic {
    animation: run-sonic 10s linear infinite;
  }

  .pikachu {
    animation: run-mirrored 15s linear infinite;
  }

  .mario {
    animation: run-mirrored 20s linear infinite;
  }

  @keyframes run-sonic {
    0% {
      transform: translateX(-20vw) translateY(10px) scaleX(-1);
    }
    100% {
      transform: translateX(100vw) translateY(10px) scaleX(-1);
    }
  }
  @keyframes run-mirrored {
    0% {
      transform: translateX(-20vw);
    }
    100% {
      transform: translateX(100vw);
    }
  }
}
@media (min-width: 1280px) {
  body {
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas: "header 	header		header" "sidebar 	content		ad" "sidebar 	content		ad" "footer 	footer		footer";
  }

  .content_wrapper {
    min-height: 80vh;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: "side		main";
  }

  .search .no_results h1 {
    font-size: 5em;
  }
  .search .no_results .img {
    height: 96px;
  }
  .search .no_results img {
    height: 81px;
  }
  .search form input {
    font-size: 1.5em;
  }
  .search form button {
    font-size: 1.5em;
  }

  .sonic {
    height: 96px !important;
    animation: run-sonic 18s linear infinite;
  }

  .pikachu {
    animation: run-mirrored 25s linear infinite;
  }

  .mario {
    animation: run-mirrored 30s linear infinite;
  }
}
/* user data */
.user_data .runner_name {
  margin: 0;
  padding: 5px 0;
  font-size: 1.8em;
  font-family: "Laila", serif;
}
.user_data .region,
.user_data .country,
.user_data .starting_date {
  font-size: 1.1em;
}
.user_data .social_media {
  display: inline-block;
  padding: 3px;
  font-size: 1.3em;
}
.user_data .social_media .fa-twitch {
  color: #cab8e0;
}
.user_data .social_media .fa-twitch:hover {
  color: #e4d6f5;
}
.user_data .social_media .fa-twitter {
  color: #72dff8;
}
.user_data .social_media .fa-twitter:hover {
  color: #b6effb;
}
.user_data .social_media .fa-youtube {
  color: #ffaa80;
}
.user_data .social_media .fa-youtube:hover {
  color: #ffbfb3;
}
.user_data .social_media .fa-flag-checkered {
  color: #f8da6d;
}
.user_data .social_media .fa-flag-checkered:hover {
  color: #b7c1cd;
}
.user_data .social_media .fa-trophy {
  color: #efcd8a;
}
.user_data .social_media .fa-trophy:hover {
  color: #f5daa3;
}

@media (min-width: 520px) {
  .user_data {
    position: sticky;
    top: 90px;
  }
}
/* Runs */
.runs {
  padding: 5px;
  border-radius: 8px;
  margin-bottom: 15px;
  box-shadow: 3px 3px #1a1a1a;
}
.runs .title {
  font-size: 1.5em;
  margin: 0;
}
.runs .title a {
  text-decoration: none;
}
.runs .video {
  margin: 12px 0;
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
}
.runs .video .youtube {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.runs .times {
  font-size: 1.1em;
}
.runs .data {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 5px;
}
.runs .data .console .region,
.runs .data .console .emulated {
  vertical-align: super;
  font-size: 0.7em;
}
.runs .comment {
  white-space: pre-wrap;
}

/*# sourceMappingURL=main.css.map */
