/* Runs */ 
.runs{

	.title{
		font-size: 1.5em;
		margin: 0;
		a{
			text-decoration: none;
		}
	}

	.video{
		margin: 12px 0;
		position: relative;
		overflow: hidden;
    padding-top: 56.25%;

		.youtube{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}		
	}

	.times{
		font-size: 1.1em;
	}

}