$primary-color: hsla(0, 0%, 20%, 1);
$secondary-color: hsla(0, 0%, 10%, 1);
$tertiary-color: hsla(0, 0%, 25%, 1);

$primary-text-color: hsla(0,0%,90%,1);
$secondary_text_color: hsla(0, 0%, 80%, 1);
$tertairy_text_color: hsla(61, 100%, 80%, 1);