$primary-color: hsla(0, 0%, 30%, 1);
$secondary-color: hsla(0, 0%, 20%, 1);
$tertiary-color: hsla(0, 0%, 40%, 1);

$primary-text-color: hsla(0,0%,100%,1);
$secondary_text_color: hsla(0, 0%, 80%, 1);
$tertairy_text_color: hsla(61, 100%, 80%, 1);