@import 'variables';

.debug {
	border: 1px solid red;
}

html {
	font-family: 'Lato', sans-serif;
	font-size: 16px;
}

body {
	width: 100%;
	background: $secondary-color;
	color: $secondary-text-color;
	margin: 0;
	display: grid;
	grid-gap: 0;
	grid-template-areas:
		"header"
		"content"
		"sidebar"
		"ad"
		"footer";
}

a {
	color: $primary-text-color;
}

.no_mobile {
	margin-top: 40px;
	display: none;

	img {
		object-fit: scale-down;
		max-width: 150px;
	}
}

/* Grid Areas */
.content_wrapper {
	width: 100%;
	background: $primary-color;
	color: $primary-text-color;
	min-height: 50vh;
	grid-area: content;
	padding: 20px;
	display: grid;
	grid-gap: 10px;
	grid-template-areas:
		"side"
		"main";

	.side {
		grid-area: side;
	}

	.main {
		grid-area: main;
	}

	.search {
		grid-area: side / side / main / main;
	}
}

header {
	grid-area: header;
	position: sticky;
	top: 0;
}

.sidebar {
	overflow: hidden;
	grid-area: sidebar;
	background: $tertiary-color;
	color: $tertairy_text_color;
	padding: 20px;
	z-index: 1;
}

.ad {
	overflow: hidden;
	grid-area: ad;
	color: $tertairy_text_color;
	padding: 20px;
	z-index: 1;
}

.footer_wrapper {
	text-align: center;
	background: $secondary-color;
	grid-area: footer;
	padding: 20px;
}

/* Pagination */
.pagination {
	display: flex;
	justify-content: space-around;
}

.pagination_runs {
	display: flex;
	justify-content: space-between;
}

.pages {
	display: inline-block;

	button {
		border-color: $tertairy-text-color;
		outline: none;
		width: 100px;
		border-radius: 8px;
		padding: 10px;
		background-color: $secondary-color;
		color: $tertairy-text-color;
	}

	&:active {
		position: relative;
		top: 2px;
		left: 2px;
	}
}

//Imports 
@import 'home';
@import 'header';
@import 'media';
@import 'userdata';
@import 'runs';