<div class="search">

	<div class="no_results" ng-if="!runners">
		<div class="title">
			<h1>Speedrunner Lookup</h1>
		</div>
		<div class="img">
			<img class="sonic" src="/img/sonic.gif" alt="sonic" />
			<img class="mario" src="/img/mario.gif" alt="mario" />
			<img class="pikachu" src="/img/pikachu.gif" alt="mario" />
		</div>
	</div>

	<form ng-submit="getRunners()">
		<input type="text" name="search" ng-model="search" id="search">
		<button type="submit">SEARCH</button>
	</form>

	<div class="container">
		<h2 ng-if="runners">Runners</h2>
		<div class="runners" ng-repeat="runner in runners">
			<a href="#!runner/{{runner.id}}">{{ runner.names.international }}
				({{ runner.signup | date }})</a>
		</div>

		<div ng-if="runners.length === 0">No results</div>


		<div class="pagination">
			<div class="pages" ng-repeat="page in pagination.links">
				<button ng-click="changePage(page.uri)">{{page.rel | uppercase }}</button>
			</div>
		</div>

	</div>
</div>