<div class="search">

	<div class="no_results" ng-if="!runners">
		<h1>Speedrunner Lookup</h1>
	</div>
	<form ng-submit="getRunners()">
		<input type="text" name="search" ng-model="search" id="search">
		<button type="submit">Search</button>
	</form>


	<div class="container">
		<h2 ng-if="runners">Runners</h2>
		<div class="runners" ng-repeat="runner in runners">
			<a href="#!runner/{{runner.id}}">{{ runner.names.international }}
				({{ runner.signup | date }})</a>
		</div>

		<div ng-if="runners.length === 0">No results</div>


		<div class="pagination">
			<div class="pages" ng-repeat="page in pagination.links">
				<button ng-click="changePage(page.uri)">{{page.rel | uppercase }}</button>
			</div>
		</div>

	</div>
</div>